body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr auto auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  background-color: $gris;
  padding: 0 0 0rem 0;
  top: 0;
  z-index: 2;
  grid-area: header;
  box-shadow: -2px 2px 2px 2px #181619d8, 2px 2px 2px 2px #181619d8,
    -5px 5px 5px 5px #1816199d, 5px 5px 5px 5px #1816199d,
    8px 8px 8px 8px #1816195d;
}
main {
  grid-area: main;

  min-height: 100vh;
}

footer {
  grid-area: footer;
}

.main {
  background-image: url("./Components/images/susan-wilkinson-azul2.webp");
  background-size: cover;
  background-position: center;
  border-radius: 0;
}

.mainContacto {
  background-image: url("./Components/images/Fondo_contacto_mar_oscuro.webp");
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 0;
}

.main-default {
  background-image: url("./Components/images/Fondo_contacto_mar_oscuro.webp");
}

.header {
  background-color: rgb(24, 24, 24);
}

/* .titulo {
  font-family: "pirata one", sans-serif;
  text-align: center;
  font-size: 4rem;
} */

.titulo {
  font-family: "pirata one", sans-serif;
  text-align: center;
  color: $rojo2;
  margin: 0 0 1.3rem 0;
  font-size: 400%;
  text-shadow: 3px 3px #8a000081, 5px 5px rgba(56, 0, 0, 0.39);

  animation: fly 2s infinite;
  animation-timing-function: ease-in-out;

  @keyframes fly {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(8px);
    }
    100% {
      transform: translateY(0px);
    }
  }
}

//Nav

.nav1 {
  color: aqua;
}

.navbar1 {
  font-size: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.liNav {
  /* font-family: "bokor", sans-serif;
  color: rgb(179, 0, 0);
  font-size: 140%; */
  /*  margin: 0 2rem; */
  margin: 10px 5px 0 5px;
  text-align: center;

  color: #e4ded0;
  font-family: "bokor", sans-serif;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 100%;
  text-shadow: 2px 2px #66666698, 3px 3px rgba(49, 49, 49, 0.315);

  &:hover {
    color: $rojo1;
    text-decoration: line-through;
    text-shadow: 2px 2px #55000081, 3px 3px rgba(73, 0, 0, 0.39);
  }
}

.divBuscador {
  display: flex;
  justify-content: center;
}

.navBuscador {
  margin: 2rem;
}

/* .ulNav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
} */

.active {
  text-decoration: line-through;
  text-shadow: 2px 2px #55000081, 3px 3px rgba(73, 0, 0, 0.39);
  color: $rojo1;

  /* color: rgb(119, 0, 0); */
}

.search {
  width: 230px;
  height: 31px;
  margin: 15px auto;
  background: #444;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.068);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.137),
    1px 1px 10px rgba(0, 0, 0, 0.137), -1px -1px 10px rgba(0, 0, 0, 0.137),
    -1px -1px 10px rgba(0, 0, 0, 0.137), -1px 1px 10px rgba(0, 0, 0, 0.137),
    1px -1px 10px rgba(0, 0, 0, 0.137), 1px -1px 10px rgba(0, 0, 0, 0.137),
    -1px 1px 10px rgba(0, 0, 0, 0.137);
  transition: height 0.3s ease, opacity 0.3s ease;

  .input_search {
    width: 152px;
    padding: 2.5px 9px;
    float: left;
    color: #ccc;
    border: 0;
    background: transparent;
    border-radius: 3px 0 0 3px;
    &:focus {
      outline: 0;
      background: transparent;
    }
  }

  /* .search.hidden {
    height: 0;
    padding: 0;
    overflow: hidden;
    transition: height 0.5s, padding 0.5s;
  } */

  .scrolled {
    height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
  }

  .button_search {
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 30px;
    width: 60px;
    color: #ccc;
    background: transparent;
    border-left: 1px solid rgba(58, 58, 58, 0.2);
    border-radius: 0 3px 3px 0;
    transition: color, background 0.5s;
    &:hover {
      color: #33383b;
      background: #6b6b6b;
    }
    &:active {
      box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);
    }
    &:focus {
      outline: 0;
    }
  }
}

//mensaje personalizado

/* .mensaje {
  overflow: hidden;
} */
.mensajeContainer {
  display: flex;
  justify-content: center;
}

// .contenedor {
//   overflow: hidden;
//   width: 90%; /* Ancho adaptable */
//   max-width: 350px; /* Ancho máximo del contenedor */

//   margin: 0 auto; /* Centrar horizontalmente */
//   padding: 20px; /* Relleno general */
// }

.contenedor {
  overflow: hidden;
  width: 100%; /* Ancho adaptable */
  max-width: 100vw; /* Ancho máximo igual al ancho total de la pantalla */
  margin: 0 auto; /* Centrar horizontalmente */
  padding: 20px; /* Relleno general */
}

.mensajeAnimado {
  animation: desplazamiento 20s linear infinite;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

/* Estilos para el texto dentro del contenedor */
.textoMensaje {
  font-size: 1rem; /* Tamaño de fuente base */
  /* Otros estilos para el texto */
}

@keyframes desplazamiento {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

//carrito

.carritoUsuario {
  /* display: flex; */
  justify-content: right;
  text-align: center;
  margin: 5.6rem 0.3rem;
  color: white;

  position: absolute;
  top: 0;
  right: 0;
}

.cartIcon {
  font-size: 80%;
  color: rgb(114, 114, 114);
}

.cartTextContainer {
  display: flex;
  justify-content: center;
}

.cartText1 {
  display: none;
  font-size: 70%;
  margin: 0 5px 0 0;
  font-family: "bokor", sans-serif;
}

.cartText2 {
  font-size: 70%;
  font-family: "bokor", sans-serif;
}

//footer

@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700");

@media (max-height: 800px) {
  footer {
    position: static;
  }
}

.footer-distributed {
  background-color: $gris;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer izquierda */

.footer-distributed .footer-left {
  width: 30%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "cookie", cursive;
  margin: 0;
}

.sobre_suspicions2 {
  font: normal 42px "pirata one", cursive;
  margin: 10px;
}

.sobre_suspicions1 {
  font: normal 25px "lobster", cursive;
}

/* logo */

.footer-distributed .footer-left img {
  width: 30%;
}

.footer-distributed h3 span {
  color: $rojo2;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-links2 {
  margin: 0 8px;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* footer centro */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: $rojo2;
  text-decoration: none;
}

/* Footer derecha */

.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.fa_color {
  color: $rojo2;

  &:hover {
    animation: shadow-drop-center 0.4s linear both;
  }
  @keyframes shadow-drop-center {
    0% {
      box-shadow: 0 0 0 0 transparent;
    }
    100% {
      box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.55);
    }
  }
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: rgba(27, 26, 26, 0.562);
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;

  &:hover {
    animation: shadow-drop-center 0.4s linear both;
  }
  @keyframes shadow-drop-center {
    0% {
      box-shadow: 0 0 0 0 transparent;
    }
    100% {
      box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.55);
    }
  }
}

/* Codigo Responsive Footer */

@media (max-width: 880px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
